<h1>Информация о короткой ссылке</h1>
<ul>
    <li>id: {{ short_url.id }}</li>
    <li>Короткая ссылка:<a href="{{ short_url.get_absolute_url }}">{{ url }}</a></li>
    <li>Ссылка ведет на url: <a href="{{ short_url.url }}">{{ short_url.url }}</a></li>
    <li>Переходов {{ short_url.visits }}</li>
    <li>Дата создания {{ short_url.created_at }}</li>
</ul>
