{% load urls_table %}

<h1>URL SHOOTER</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'short_url:add_url' %}" method="post">
{% csrf_token %}
    <input id="short_url_url" type="text" name="url" />
    <label for="short_url_url">Ссылка</label><br />
<input type="submit" value="Получить короткий url" />
</form>

{% urls_table_show popular_urls %}
