{% load urls_table %}

<h1>Список ссылок</h1>

{% urls_table_show urls_list %}

<div class="pagination">
    <span class="step-links">
        {% if urls_list.has_previous %}
            <a href="?page={{ urls_list.previous_page_number }}">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ urls_list.number }} из {{ urls_list.paginator.num_pages }}.
        </span>

        {% if urls_list.has_next %}
            <a href="?page={{ urls_list.next_page_number }}">следующая</a>
        {% endif %}
    </span>
</div>