{% load urls_table %}
<table>
    <tr>
      <td> Короткий url </td>
      <td> Кол-во посещений </td>
      <td> Куда ведет </td>
      <td> Дата создания </td>
    </tr>
    {% for short_url in urls_list %}
        <tr>
          <td> <a href="{% url 'short_url:url_detail' short_url.id %}">{{ short_url.id }}</a></td>
          <td> {{ short_url.visits }} </td>
          <td> <a href="{{ short_url.url }}">{{ short_url.url }}</a></td>
          <td> {{ short_url.created_at }} </td>
        </tr>
    {% endfor %}
</table>
